In [40]:

import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

In [41]:
boston = load_boston()
feature_names = boston.feature_names
data = boston["data"]
target = boston.target

In [42]:
x = pd.DataFrame(data , columns = feature_names)
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [43]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
dtypes: float64(13)
memory usage: 51.5 KB

In [44]:
y = pd.DataFrame(target, columns=["price"])

y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
price    506 non-null float64
dtypes: float64(1)
memory usage: 4.0 KB

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3 ,  random_state=42)

In [47]:
from sklearn.linear_model import LinearRegression

In [48]:
lr = LinearRegression()

In [49]:
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [50]:
y_pred = lr.predict(x_test)

In [51]:
check_test = pd.DataFrame({'y_test' : y_test['price'] ,
                          'y_pred' : y_pred.flatten()} ,
                          columns = ['y_test','y_pred']   )

In [52]:
check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [53]:
from sklearn.metrics import mean_squared_error

In [54]:
initial_mse = mean_squared_error(y_test,y_pred)
initial_mse

21.517444231177606

In [55]:
from sklearn.metrics import r2_score

In [56]:
r2_score(y_test,y_pred)

0.7112260057484878

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.

In [58]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score

In [62]:
fr =  RandomForestRegressor(n_estimators=100 ,
                               max_depth = 12,
                               oob_score=True,
                               random_state=42)

In [63]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3 ,  random_state=42)

In [64]:
fr.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=True, random_state=42, verbose=0, warm_start=False)

In [66]:
fr.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=True, random_state=42, verbose=0, warm_start=False)

In [67]:
y_pred = fr.predict(x_test)

In [68]:
check_test = pd.DataFrame({'y_test' : y_test['price'] ,
                          'y_pred' : y_pred.flatten()} ,
                          columns = ['y_test','y_pred']   )

In [69]:
check_test.head(10)

     y_test     y_pred
173    23.6  23.156214
274    32.4  31.199000
491    13.6  16.011514
72     22.8  24.227608
452    16.1  16.940542
76     20.0  21.847517
316    17.8  19.732158
140    14.0  14.911167
471    19.6  21.508747
500    16.8  21.239091

In [70]:
r2_score(y_test,y_pred)

0.8691643189868505